<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
</head>
<body>
    <div class="nav">
        <h1>Courses</h1>
    <nav>
        <a href="/courses">Courses</a>
        <a href="/logout">Logout</a>
    </nav>
    </div>

    <div class="courses-container">

    <% courses.forEach(course => { %>
        <div class="course-card">
        <img src="<%= course.image %>" alt="Curso">
        <h3><%= course.title %></h3>
        <p><%= course.instructor %></p>
        <span>R$ <%= course.price %></span>
        </div>
    <% }) %>

    </div>


</body>
</html>