<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/homeStyle.css">
    <title>Courses</title>
</head>
<body>
    <header class="header">
        <div class="nav-container">
            <h1>Courses</h1>
            <nav>
                <a href="/private/home">Courses</a>
                <a href="/logout" class="btn-logout">Logout</a>
            </nav>
        </div>
    </header>
        
    <div class="courses-container">
        <% courses.forEach(course => { %>
            <div class="course-card">
                <img src="<%= course.image %>" alt="Imagem do curso">
                <div class="course-info">
                    <h3><%= course.title %></h3>
                    <p class="instructor"><%= course.instructor %></p>
                    <p class="price">R$ <%= course.price %></p>
                </div>
            </div>
        <% }) %>
    </div>

</body>
</html>