<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/loginStyles.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
    <div class="left">
    <img src="img/left.png" class="illustration"/>
    </div>

    <div class="right">
    <div class="card">
    <img src="img/avatar.png" class="avatar"/>
    <h1>WELCOME</h1>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username"/>
        <input type="password" name="password" placeholder="Password"/>
        <button>LOGIN</button>
    </form>
    </div>
  </div>
</div>
</body>
</html>